{% extends 'base.html' %}

{% load static %}
{% block title %} Photography {% endblock %}

{% block content %}
	<!-- ============== start home section  ============== -->
<section id="home">
	<div id="home-slider" class="carousel slide in" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#home-slider"></li>
		<li data-slide-to="1" data-target="#home-slider" class=""></li>
		<li data-slide-to="2" data-target="#home-slider" class=""></li>
	  </ol>
  
	  <div class="carousel-inner">
		<div class="item active" style="background-image: url({% static 'img/slider/wed3.jpg' %})">
		  <div class="col-sm-offset-1 caption caption-wide">
			<h4 class="main-title wow fadeInUp" data-wow-delay=".25s">
				"Your love, our artistry."
			</h4>
			<a class="btn btn-start wow fadeInUp" href="#features" data-scroll data-wow-delay=".85s">Book Now</a>
		  </div>
		</div><!-- //item -->
		<div class="item" style="background-image: url({% static 'img/slider/wed2.jpg' %})">
		  <div class="col-sm-offset-1 caption caption-wide">
			<h4 class="main-title wow fadeInUp" data-wow-delay=".25s">"Moments framed, love immortalized."</h4>
			<a class="btn btn-start wow fadeInUp" href="#features" data-scroll data-wow-delay=".85s">Book Now</a>
		  </div>
		</div><!-- //item -->
		<div class="item" style="background-image: url({% static 'img/slider/wed1.jpg' %})">
		  <div class="col-sm-offset-1 caption">
			<h4 class="main-title wow fadeInUp" data-wow-delay=".25s">Cherish every<br/>moment</h4>
			<p class="sub-title wow fadeInUp" data-wow-delay=".55s">Up & Running in minutes</p>
			<a class="btn btn-start wow fadeInUp" href="#features" data-scroll data-wow-delay=".85s">Book Now</a>
		  </div>
		</div><!-- //item -->
	  </div>
	</div>
  </section>
<!-- ========= //End home section ========= -->


<!-- ============== Start features section ============== -->
<section id="service">
	<div class="container">
		<div class="row">
			 
			<div class="col-md-4 service-item">
				<div class="content wow fadeInDown" data-wow-delay=".15s">
					<p class="icon text-center"><i class="fa fa-camera-retro"></i></p>
					<h5 class="title text-center">Wedding Photography</h5>
					<p class="info" style="text-align: justify;">
						Your wedding day is a unique and beautiful love story, and we're here to ensure every 
						moment is preserved in the most artistic and heartfelt way. With a keen eye for details, 
						a passion for love, and a commitment to excellence, we're ready to turn your special day into a timeless masterpiece.
					</p>
				</div>
			</div>
			<div class="col-md-4 service-item">
				<div class="content wow fadeInDown" data-wow-delay=".35s">
					<p class="icon text-center"><i class="fa fa-male"></i></p>
					<h5 class="title text-center">Fashion Photograph</h5>
					<p class="info" style="text-align: justify;">
						Our team of skilled fashion photographers has a passion for elegance, a knack for capturing details, and a commitment to 
						showcasing your creations in the best light. Whether you're a designer, model, or influencer, we provide a platform 
						to make your fashion dreams a reality.
					</p>
				</div>
			</div>
			<div class="col-md-4 service-item">
				<div class="content wow fadeInDown" data-wow-delay=".55s">
					<p class="icon text-center"><i class="fa fa-users"></i></p>
					<h5 class="title text-center">NAture Photography</h5>
					<p class="info" style="text-align: justify;">
						The world is a canvas, and nature is the artist. At [Your Name] Nature Photography, 
						we are committed to capturing the awe-inspiring beauty of the natural world, from 
						breathtaking landscapes to the intricate details of flora and fauna.
					</p>
				</div>
			</div>
		</div> <!-- //row -->
	</div> <!-- //container -->
</section>
<!-- ========= //End features section ========= -->


<!-- ============== Start courses section ============== -->
<section id="about">
	<div class="color-overlay ptb100">
		<div class="container">
			<h3 class="section-title wow fadeInDown">About Us</h3>
			<div class="row">
				 
					<div class="col info-part">
						<div class="first-courses each-courses">
							<p class="info" style="text-align: justify;">
								At [Your Name] Photography, we are more than just photographers – we are storytellers, artists, and passionate creators. 
								Our journey began with a deep love for capturing moments and a burning desire to share the beauty we see through the lens.	
							</p>
							<br>
							<p class="info" style="text-align: justify;">
								Our vision is to freeze moments in time, preserving the raw emotion, the beauty, and the artistry that unfolds in front of 
								our cameras. We believe that every click of 
								the shutter is a chance to capture the unique essence of life, love, and the world around us.	
							</p>

							<br>
							<p class="info" style="text-align: justify;">
								We are committed to providing you with a photography experience that goes beyond the ordinary. Whether you're planning your 
								dream wedding, seeking to express your style through fashion, or longing to connect with the natural world through nature 
								photography, we are here to make it extraordinary.
							</p>

							<br>
							<p class="info" style="text-align: justify;">
								Our approach is rooted in authenticity. We believe in capturing the real, the genuine, and the unfiltered moments. It's about understanding 
								your vision and working with you to bring it to life. It's about creating a comfortable, stress-free atmosphere, so you can relax,
								 be yourself, and allow us to capture the magic that unfolds naturally.
							</p>

							<br>
							<p class="info" style="text-align: justify;">
								We believe in the magic of collaboration. Your ideas, your dreams, and your unique story are our inspiration. Let's work together to turn your visions 
								into vibrant, enduring images that will tell your story for generations to come
							</p>
						</div>

					 </div>
				 
			</div> <!-- //row -->
		</div> <!-- //container -->
	</div>
</section>
<!-- ========= //End courses section ========= -->


<!-- ============== Start portfolio section ============== -->
<section id="portfolio" class="mtb100">
	<div class="container">
		<h3 class="section-title wow fadeInDown">Our Portfolio</h3>
		<!-- <p class="section-info col-sm-8 col-sm-offset-2 wow fadeInDown" data-wow-delay=".25s">
			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.
		</p> -->
		<div class="clearfix"></div>

		<div class="portfolio-content">
			<ul class="portfolio-filter text-center list-inline mtb40 text-uppercase">       
				<li><a class="active" href="#" data-filter="*"> All</a></li> 
				<li><a href="#" data-filter=".wedding">Wedding</a></li>
				<li><a href="#" data-filter=".festival">Festival</a></li>
				<li><a href="#" data-filter=".engagement">Engagement</a></li>
				<li><a href="#" data-filter=".birthday">Birthday</a></li>
			</ul>
			<div class="portfolio-items">
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item festival wedding">
					 <figure class="content wow fadeIn" data-wow-delay=".15s">
						 <img src="{% static 'img/wedding/1.jpg' %}" class="img-100p" alt="portfolio">
						 <figcaption class="overflow-content-full">
							 <p class="icon horizontal-vertical-center">
								 <a data-lightbox="portfolio" href="{% static 'img/wedding/1.jpg' %}"><i class="fa fa-search-plus"></i></a>
							 </p>
							 <div class="caption text-center">
								 <p class="title">John Donga</p>
								 <p class="info">Lorem Ipsum is simply dummy text of the printing industry. </p>
							 </div>
						 </figcaption>
					 </figure>
				 </div>
				 <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item festival birthday">
					 <figure class="content wow fadeIn" data-wow-delay=".25s">
						<img src="{% static 'img/wedding/2.jpg' %}" class="img-100p" alt="portfolio">
						<figcaption class="overflow-content-full">
							 <p class="icon horizontal-vertical-center">
								<a data-lightbox="portfolio" href="{% static 'img/wedding/2.jpg' %}"><i class="fa fa-search-plus"></i></a>
							</p>
							 <div class="caption text-center">
								 <p class="title">John Donga</p>
								 <p class="info">Lorem Ipsum is simply dummy text of the printing industry. </p>
							 </div>
						 </figcaption>
					 </figure>
				 </div>
				 <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item engagement">
					 <figure class="content wow fadeIn" data-wow-delay=".35s">
						<img src="{% static 'img/bday/13.jpg' %}" class="img-100p" alt="portfolio">
						<figcaption class="overflow-content-full">
							 <p class="icon horizontal-vertical-center">
								<a data-lightbox="portfolio" href="{% static 'img/bday/13.jpg' %}"><i class="fa fa-search-plus"></i></a>
							</p>
							 <div class="caption text-center">
								 <p class="title">John Donga</p>
								 <p class="info">Lorem Ipsum is simply dummy text of the printing industry. </p>
							 </div>
						 </figcaption>
					 </figure>
				 </div>
				 <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item birthday wedding hit-and-run">
					 <figure class="content wow fadeIn" data-wow-delay=".45s">
						<img src="{% static 'img/wedding/4.jpg' %}" class="img-100p" alt="portfolio">
						<figcaption class="overflow-content-full">
							 <p class="icon horizontal-vertical-center">
								<a data-lightbox="portfolio" href="{% static 'img/wedding/4.jpg' %}"><i class="fa fa-search-plus"></i></a>
							</p>
							 <div class="caption text-center">
								 <p class="title">John Donga</p>
								 <p class="info">Lorem Ipsum is simply dummy text of the printing industry. </p>
							 </div>
						 </figcaption>
					 </figure>
				 </div>
				 <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item engagement birthday hit-and-run">
					 <figure class="content wow fadeIn" data-wow-delay=".55s">
						<img src="{% static 'img/wedding/5.jpg' %}" class="img-100p" alt="portfolio">
						<figcaption class="overflow-content-full">
							 <p class="icon horizontal-vertical-center">
								<a data-lightbox="portfolio" href="{% static 'img/wedding/5.jpg' %}"><i class="fa fa-search-plus"></i></a>
							</p>
							 <div class="caption text-center">
								 <p class="title">John Donga</p>
								 <p class="info">Lorem Ipsum is simply dummy text of the printing industry. </p>
							 </div>
						 </figcaption>
					 </figure>
				 </div>
				 <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item festival wedding hit-and-run">
					 <figure class="content wow fadeIn" data-wow-delay=".65s">
						<img src="{% static 'img/bday/12.jpg' %}" class="img-100p" alt="portfolio">
						<figcaption class="overflow-content-full">
							 <p class="icon horizontal-vertical-center">
								<a data-lightbox="portfolio" href="{% static 'img/bday/12.jpg' %}"><i class="fa fa-search-plus"></i></a>
							</p>
							 <div class="caption text-center">
								 <p class="title">John Donga</p>
								 <p class="info">Lorem Ipsum is simply dummy text of the printing industry. </p>
							 </div>
						 </figcaption>
					 </figure>
				 </div>
				 <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item festival wedding">
					 <figure class="content wow fadeIn" data-wow-delay=".75s">
						<img src="{% static 'img/wedding/7.jpg' %}" class="img-100p" alt="portfolio">
						<figcaption class="overflow-content-full">
							 <p class="icon horizontal-vertical-center">
								<a data-lightbox="portfolio" href="{% static 'img/wedding/7.jpg' %}"><i class="fa fa-search-plus"></i></a>
							</p>
							 <div class="caption text-center">
								 <p class="title">John Donga</p>
								 <p class="info">Lorem Ipsum is simply dummy text of the printing industry. </p>
							 </div>
						 </figcaption>
					 </figure>
				 </div>
				 <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item engagement hit-and-run">
					 <figure class="content wow fadeIn" data-wow-delay=".85s">
						<img src="{% static 'img/wedding/8.jpg' %}" class="img-100p" alt="portfolio">
						<figcaption class="overflow-content-full">
							 <p class="icon horizontal-vertical-center">
								<a data-lightbox="portfolio" href="{% static 'img/wedding/8.jpg' %}"><i class="fa fa-search-plus"></i></a>
							</p>
							 <div class="caption text-center">
								 <p class="title">John Donga</p>
								 <p class="info">Lorem Ipsum is simply dummy text of the printing industry. </p>
							 </div>
						 </figcaption>
					 </figure>
				 </div>
			</div>
		</div>
	</div> <!-- // container -->
</section>
<!-- ========= //End portfolio section ========= -->


<!-- ============== Start counter ============== -->
<section id="count-down" class="text-center">
	<div class="color-overlay ptb100">
		<div class="container">
			<h3 class="section-title wow fadeInDown">Notable Stats</h3>
			<div class="row">
				<div class="counter-content">
					<div class="col-sm-4 each-counter wow zoomIn">
						<span class="counter count1">2043</span>
						<p class="title">Events Covered</p>
					</div>
					<div class="col-sm-4 each-counter wow zoomIn">
						<span class="counter count2">1602</span>
						<p class="title">Weddings</p>
					</div>
					<div class="col-sm-4 each-counter wow zoomIn">
						<span class="counter count3">441</span>
						<p class="title">Birthday Parties</p>
					</div>
				</div>
			</div> <!-- //row -->
		</div> <!-- //container -->
	</div>
</section>
<!-- ========= //End counter ========= -->





<!-- ============== Start latest-blog ============== -->
<section id="latest-blog" class="mtb100">
	<div class="container">
		<h3 class="section-title wow fadeInDown">Blogs</h3>
		<!-- <p class="section-info col-sm-8 col-sm-offset-2 wow fadeInDown" data-wow-delay=".25s">
			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.
		</p> -->
		<div class="clearfix"></div>

		<div class="row">
			<!-- start each speech -->
			<div class="col-sm-4 each-post wow fadeIn" data-wow-delay=".25s">
				<div class="content">
					<div class="blog-img">
						<a href="javascript:"><img src="{% static 'img/bday/12.jpg' %}" class="img-100p" alt="latest blog"></a>
					</div>
					<div class="info">
						<p class="date">11 Sep</p>
						<h4 class="headline">
							<a href="javascript:">
								"The Art of Portrait Photography: Capturing Personality in Every Shot"
							</a>
						</h4>
						<p style="text-align: justify;"><em>Introduction:</em> Portrait photography is all about capturing the essence of your subject. In this blog post, we&#39;ll dive into the art of portrait photography, exploring techniques for bringing out your subject&#39;s personality, and I&#39;ll share some of my favorite portrait shots.</p>

						<p><strong>Understanding Portrait Photography:</strong> Portrait photography goes beyond taking a person&#39;s picture; it&#39;s about telling their story through visuals. Each portrait should reflect the individual&#39;s personality, emotions, and style. Whether it&#39;s a formal headshot, a family portrait, or a candid shot, it&#39;s an opportunity to create a lasting memory.</p>

						
							
							<br>
							<button class="btn btn-primary">Read More...</button>

					</div>
				</div>
			</div> <!-- //end each speech -->
			<!-- start each speech -->
			<div class="col-sm-4 each-post wow fadeIn" data-wow-delay=".45s">
				<div class="content">
					<div class="blog-img">
						<a href="javascript:"><img src="{% static 'img/wedding/5.jpg' %}" class="img-100p" alt="latest blog"></a>
					</div>
					<div class="info">
						<p class="date">02 Oct</p>
						<h4 class="headline">
							<a href="javascript:">"Exploring the Magic of Nature Photography"</a>
						</h4>
						<p style="text-align: justify;"><em>Introduction:</em> Nature photography is a delightful journey into the heart of the great outdoors. In this blog post, we&#39;ll explore the world of nature photography, share some tips for capturing the beauty of the natural world, and showcase some of my favorite nature shots.</p>

							<p><strong>The Allure of Nature Photography:</strong> Nature photography is about connecting with the world around us. It&#39;s a way to capture the awe-inspiring landscapes, the intricate details of flora and fauna, and the raw, unfiltered beauty of our planet. It&#39;s an art form that transports viewers to the great outdoors.</p>

							<p><strong>Tips for Capturing Natural Beauty:</strong></p>

							<ol>
								<li>
								<p><strong>Research and Patience:</strong> Know your subject. Study the environment and its inhabitants. Patience is often the key to capturing that perfect moment.</p>
								</li>
								<li>
								
							</ol>


							<br>
							<button class="btn btn-primary">Read More...</button>
												</div>
											</div>
										</div> <!-- //end each speech -->
										<!-- start each speech -->
										<div class="col-sm-4 each-post wow fadeIn" data-wow-delay=".65s">
											<div class="content">
												<div class="blog-img">
													<a href="javascript:"><img src="{% static 'img/wedding/8.jpg' %}" class="img-100p" alt="latest blog"></a>
												</div>
												<div class="info">
													<p class="date">18 Oct</p>
													<h4 class="headline">
														<a href="javascript:">"The Art of Capturing Love: Wedding Photography Tips"</a>
													</h4>
													<p style="text-align: justify;"><em>Introduction:</em> Weddings are celebrations of love, and capturing those moments is an honor. In this blog post, we&#39;ll explore the art of wedding photography, share tips for making the most of these special days, and showcase some of my favorite wedding shots.</p>

											<p><strong>The Significance of Wedding Photography:</strong> Wedding photography is all about documenting the emotions, joy, and beauty of a couple&#39;s big day. It&#39;s about preserving the moments that will be cherished for a lifetime. As a wedding photographer, I consider it a privilege to be part of such a momentous occasion.</p>

											<p><strong>Tips for Capturing the Perfect Wedding Shots:</strong></p>

											<ol>
												
												<li>
												
												</li>
											</ol>

											<br>
							<button class="btn btn-primary">Read More...</button>


					</div>
				</div>
			</div> <!-- //end each speech -->
			<div class="col-sm-12 read-more-button wow zoomIn">
				<p class="text-uppercase text-center"><a href="javascript:">View All</a></p>
			</div>
		</div> <!-- //row -->
	</div> <!-- //container -->
</section>
<!-- ========= //End latest-blog ========= -->


<!-- ============== Start client-feedback ============== -->
<section id="client-feedback">
	<div class="color-overlay ptb100">
		<div class="container">
			<h3 class="section-title wow fadeInDown">Happy Clients</h3>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="custom-control">
						<p><span id="slider-prev"></span> <span id="slider-next"></span></p>
					</div>
					<ul class="bx-slider main-content">
						<li>
							<p>
								Your photography captures the essence of the moment beautifully. I can see the passion and skill in your work!
							</p>
							<p class="client-name"><a href="#">C. Ancheta</a></p>
						</li>
						<li>
							<p>
								Your attention to detail is astounding. Every image tells a story, and your storytelling through photography is truly remarkable.
							</p>
							<p class="client-name"><a href="#">L. James</a></p>
						</li>
						<li>
							<p>
								Your photography style is so versatile. From portraits to landscapes, you excel in every genre. Keep up the fantastic work!	
							</p>
							<p class="client-name"><a href="#">T. Woods</a></p>
						</li>
						<li>
							<p>
								"I've been following your photography for a while now, and I'm consistently impressed by your ability to capture such raw and genuine moments.
								</p>
							<p class="client-name"><a href="#">P. Donga</a></p>
						</li>
					</ul>
				</div>
			</div> <!-- //row -->
		</div> <!-- //container -->
	</div>
</section>
<!-- ========= //End client-feedback ========= -->





<!-- ========= //End join-us section ========= -->


<!-- ============== Start contact section ============== -->
<section id="contact">
	<div class="map-content">
		<div id="gmap">
		</div>
	</div>
	<div class="color-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-offset-2 form-content ptb100">
					<h3 class="section-title wow fadeInDown">Impressed? Let's touch base</h3>
					<p class="section-info wow fadeInDown" data-wow-delay=".25s">
						Should you have any question or concern, you can reach us by filling out the contact form below or you can find us on other social networks.
					</p>
					<div class="clearfix"></div>
					<form action="#" class="form wow fadeIn" data-wow-delay=".25s">
						<input type="text" class="form-control" placeholder="Your Full Name">
						<input type="text" class="form-control" placeholder="Email Address">
						<input type="text" class="form-control" placeholder="Contact Number">
						<textarea name="" class="form-control" cols="30" rows="5" placeholder="Your Message"></textarea>
						<a class="btn-block btn btn-submit text-uppercase">Send Message Now</a>
					</form>
				</div>
			</div> <!-- //row -->
		</div> <!-- //container -->
	</div>
</section>
<!-- ========= //End contact section ========= -->


{% endblock %}