{% load static %}
<section id="footer">
    <div class="container bottom-part">
        <div class="row">
            <div class="col-sm-4 left-part">
                <p class="footer-logo "><img src="{% static 'img/logo.png' %}" alt="logo"></p><br/>
                <p>
                    Subscribe to Our Newsletter: Stay in the loop with the latest photography tips, exclusive offers, and updates. Join our photography community and never miss a shot.
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <ul class="social-icon-footer list-inline mtb50">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
                <form action="#" class="form subscribe-form">
                    <p class="text-uppercase mtb20">Join Our Mailing List: Be the first to know about upcoming events, promotions, and photography workshops. Don't miss out; subscribe now!</p>
                    <input type="email" class="form-control" placeholder="Enter your email:">
                </form>
            </div>
        </div> <!-- //row -->
    </div> <!-- //container -->

    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-4">
                    <p class="info">
                        Photography Bussiness | &copy; <a href="https://info.christopherancheta.co.nz" target="_blank">Chris Ancheta</a>
                    </p>
                </div>
            </div> <!-- //row -->
        </div> <!-- //container -->
    </div> <!-- //end copyright -->
</section>