<section id="footer">
    <div class="container bottom-part">
        <div class="row">
            <div class="col-sm-4 left-part">
                <p class="footer-logo "><img src="img/logo.png" alt="logo"></p><br/>
                <p>This free website template is the first step to get you started with your personal photography website. Learn the game and get some fame. Don't restrict your photography viewership to your close circle. Go beyond and make it public on your photography website. </p>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <ul class="social-icon-footer list-inline mtb50">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
                <form action="#" class="form subscribe-form">
                    <p class="text-uppercase mtb20">get subscribed to the photography tips and news</p>
                    <input type="email" class="form-control" placeholder="Enter your email:">
                </form>
            </div>
        </div> <!-- //row -->
    </div> <!-- //container -->

    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-4">
                    <p class="info">
                        Photography Bussiness | &copy; <a href="https://info.christopherancheta.co.nz" target="_blank">Chris Ancheta</a>
                    </p>
                </div>
            </div> <!-- //row -->
        </div> <!-- //container -->
    </div> <!-- //end copyright -->
</section>